<div id="groups-echarts-one-show" style="width: 600px;height:400px;"></div>



<script type="text/javascript" th:src="@{/echarts/echarts.min.js}" charset="utf-8"></script>
<script type="text/javascript" charset="UTF-8">
    $(function () {
        var dom = document.getElementById("groups-echarts-one-show");
        var groupEchart = echarts.init(dom);
        var option = {
            title: {
                text: '店组月末人数图'
            },
            tooltip: {},
            legend: {   // 指示是谁的图，术语：图例
                data:[]
            },
            xAxis: {
                type: 'category',
                data: []
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                name: '',
                type: 'line',   // bar
                data: []
            }]
        };
        var selts = $('#groupdata').datagrid('getSelections');
        $.ajax({
            url: pathCtx+"/groupdata/echartsOne.do",
            type:'POST',
            data: 'id='+selts[0].id,
            cache: false,
            async: false,
            success: function (data) {
                printMsg(data);
                $.each(data,function (i,n) {  // i 是索引, n是对应索引位置上的数据
                    var title = '';
                    if (i==0){
                        title = n.title;
                        option.legend.data.push(n.title);
                    }else {
                        option.xAxis.data.push(n.month);
                        option.series[0].data.push(n.count);
                        option.series[0].name = title;
                    }
                });
                groupEchart.setOption(option);
            }
        });

    })

</script>