<!--因为此页面是嵌入主页面使用，不需要有其他布局-->
<div id="group-toolbar">
    <a href="#" id="group-add-btn" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:false">add</a>
    <a href="#" id="group-edit-btn" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:false">edit</a>
    <a href="#" id="group-delete-btn" class="easyui-linkbutton" data-options="iconCls:'icon-delete',plain:false">delete</a>
    <a href="#" id="group-reload-btn" class="easyui-linkbutton" data-options="iconCls:'icon-reload',plain:false">reload</a>
    <a href="#" id="group-import-excel-btn" class="easyui-linkbutton" data-options="iconCls:'icon-page_excel',plain:false">import</a>
    <a href="#" id="group-output-excel-btn" class="easyui-linkbutton" data-options="iconCls:'icon-page_go',plain:true">export</a>
    <form id="group-search" method="post">
        <label for="month">月份:</label>
        <input class="easyui-validatebox" type="text" name="month" id="month" data-options="required:true" />
        <label for="personCount">人数:</label>
        <input class="easyui-validatebox" type="text" name="personCount" id="personCount" data-options="required:true" />
        <a href="#" id="group-search-btn" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true"/>
    </form>
</div>
<div id="groupdata"></div>
<div id="addOrUpdateWin"></div>

<script type="text/javascript" src="/function/util/util.js" charset="utf-8"></script>
<script type="text/javascript" src="/function/groupFunc.js" charset="utf-8"></script>
<!--获取根目录-->
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    ctxPath = /*[[@{/}]]*/ '';
    /*]]>*/
    printMsg("contextPath : "+ ctxPath);
</script>