<!--因为此页面是嵌入主页面使用，不需要有其他布局-->
<div id="group-toolbar">
    <a href="#" id="group-edit-btn" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:false"/>
    <a href="#" id="group-save-btn" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:false"/>
    <a href="#" id="group-delete-btn" class="easyui-linkbutton" data-options="iconCls:'icon-delete',plain:true"/>
    <a href="#" id="group-reload-btn" class="easyui-linkbutton" data-options="iconCls:'icon-reload',plain:true"/>
</div>
<div id="groupdata"></div>


<script type="text/javascript" src="/function/groupFunc.js" charset="utf-8"></script>
