<div id="region-toolbar">
    <a href="#" id="region-add-btn" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:false">add</a>
    <a href="#" id="region-edit-btn" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:false">edit</a>
    <a href="#" id="region-delete-btn" class="easyui-linkbutton" data-options="iconCls:'icon-delete',plain:false">delete</a>
</div>

<div id="regionShowdata"></div>
<div id="addOrUpdateRegionWin"></div>

<script type="text/javascript" src="/function/util/util.js" charset="utf-8"></script>
<script type="text/javascript" src="/function/regionFunc.js" charset="utf-8"></script>