<div id="depentment-toolbar">
    <a href="#" id="depentment-add-btn" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:false">add</a>
    <a href="#" id="depentment-edit-btn" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:false">edit</a>
    <a href="#" id="depentment-delete-btn" class="easyui-linkbutton" data-options="iconCls:'icon-delete',plain:false">delete</a>
    <a href="#" id="depentment-reload-btn" class="easyui-linkbutton" data-options="iconCls:'icon-reload',plain:false">reload</a>
</div>

<div id="deptShowdata"></div>
<div id="addOrUpdateDeptWin"></div>

<script type="text/javascript" src="/function/util/util.js" charset="utf-8"></script>
<script type="text/javascript" src="/function/depementFunc.js" charset="utf-8"></script>