<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/easyui/jquery.min.js}" charset="utf-8"></></script>
    <link id="easyuiTheme" rel="stylesheet" type="text/css" th:src="@{/easyui/themes/gray/easyui.css}">
    <link id="easyuiCss" rel="stylesheet" type="text/css" th:src="@{/easyui/themes/icon.css}">
    <script type="text/javascript" th:src="@{/easyui/jquery.easyui.min.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/easyui/locale/easyui-lang-zh_CN.js}" charset="utf-8"></script>
</head>
<body>
    <h2>test</h2>
</body>
</html>