<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="encoder.pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS}wklog [%thread] %-5level %logger - %msg%n"/>
    <property name="encoder.pattern2" value="%d{yyyy-MM-dd HH:mm:ss.SSS}wklog %red([%thread] %-5level %logger - %msg%n)"/>
    <property name="CONSOLE_LOG_PATTERN3" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %red(%logger) - %green(%msg%n)" />
    <springProperty scope="context" name="runtime.path" source="logpath.runtime.path" />
    <springProperty scope="context" name="event.path" source="logpath.event.path" />
    <springProperty scope="context" name="access.path" source="logpath.access.path" />
    <springProperty scope="context" name="runtime.level" source="log.level.runtime" />
    <!--<property name="log.path" value="logs"/>-->
    <appender name="runtime" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${runtime.path}/runtime.log</File>
        <Prudent>false</Prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${runtime.path}/runtime_%d{yyyyMMdd}.log.gz</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>${encoder.pattern}</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="eventLoggerAppender"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${event.path}/event.log</File>
        <Prudent>false</Prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${event.path}/event_%d{yyyyMMdd}.log.gz</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>${encoder.pattern}</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>${CONSOLE_LOG_PATTERN3}</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="accessAppender"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${access.path}/access.log</File>
        <Prudent>false</Prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${access.path}/access_%d{yyyyMMdd}.log.gz</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS};%msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="com.ericsson"  additivity="true" level="${runtime.level}">
        <appender-ref ref="runtime" />
    </logger>
    <logger name="eventLogger"  additivity="true" level="TRACE">
        <appender-ref ref="eventLoggerAppender" />
    </logger>
    <logger name="accessLogger"  additivity="true" level="TRACE">
        <appender-ref ref="accessAppender" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>

